body{
  text-align: center;
  font-family: 'Merriweather', Serif;
  color: #40514E;
  margin: 0;
}
h1{
  font-size: 562.5%;
  font-family: 'Parisienne', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 200%;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border-style: dotted none none none;
  width: 5%;
border-width: 6px;
border-color: #e4e3e3;
margin: 75px auto;
}
a{
  color: #11999E;
}
img{
  border-radius: 100%;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}
.middle-container{
  line-height: 2;
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 10px 20px;
  line-height: 2;
  margin-top: 25px;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position:absolute;
  right: 225px;
  top: 110px;
  border-radius: 0;
}
.bottom-cloud{
  position: absolute;
  border-radius: 0;
  left:300px;
}
.programmer{
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.img1{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.img2{
  width: 30%;
  float: right;
  margin-left: 30px;
}
.ctag{
  color: #EAF6F6;
  font-size: 60%;
  margin: 10px;
}
.footer-link{
  margin-left: 40px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.footer-link:hover{
  color: #EAF6F6;
}
.get-in-touch{
  font-size: 200%;
}
.profile{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding-top: 75px;
}

.btn{
  background-color: #11CDD4;
  border: none;
  padding: 10px 20px;
  position: relative;
  top: 30px;
  border-radius: 8px;
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.btn:hover{
  border: solid #30E3CB 1px;
  background-color: #30E3CB;
}
